.submenulateral {
    background: rgb(121, 89, 3);
    min-width: 10%;;
    min-height: 100vh;
    margin-right: 3%;
    padding: 1%;
    margin-top: 10vh;
    display: none;
}
.menulateral {
    background: rgb(121, 89, 3);
    min-width: 5%;
    min-height: 100vh;
    margin-right: 0.3%;
    padding: 1%;
    margin-top: 10vh;
    display: none;
}
.fixed {
    position: fixed;
    background-color: green;
    height: 100vh;
    z-index: 10;
}